language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - 8.0

os: linux
dist: focal

before_script:
  - composer self-update
  - composer install

script:
  - mkdir -p build/logs
  - composer ci

after_script:
  - php vendor/bin/php-coveralls -v
